<!-- @see https://codepen.io/Kerrys7777/pen/QWgwEeG -->
<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <h3 class="text-uppercase border-bottom mb-4">CARDS IMAGENES EJEMPLOS</h3>
        </div>
    </div>
    <div class="row">
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <img src="../imagenes/imagen1.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Imagen 1</h5>
                    <a href="https://search.creativecommons.org" class="btn btn-primary mt-auto align-self-center">Ir al link</a>
                </div>
            </div>
        </div>
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <img src="../imagenes/imagen2.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Imagen 2</h5>
                    <a href="https://search.creativecommons.org" class="btn btn-primary mt-auto align-self-center">Ir al link</a>
                </div>
            </div>
        </div>
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
                <img src="../imagenes/imagen3.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Imagen 3</h5>
                    <a href="https://search.creativecommons.org" class="btn btn-primary mt-auto align-self-center">Ir al link</a>
                </div>
            </div>
        </div>
    </div>
</div>